[submodule "third_party/tusb_ump"]
	path = third_party/tusb_ump
	url = https://github.com/midi2-dev/tusb_ump.git
	branch = main
[submodule "third_party/AM_MIDI2.0Lib"]
	path = third_party/AM_MIDI2.0Lib
	url = https://github.com/midi2-dev/AM_MIDI2.0Lib.git
[submodule "third_party/tinyusb"]
	path = third_party/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "third_party/ioLibrary_Driver"]
	path = third_party/ioLibrary_Driver
	url = https://github.com/Wiznet/ioLibrary_Driver.git
